<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row pad-left-right">
        <span class="pull-left title">Your Book Library</span>
        <span class="lead">Welcome to BookWorm.wdd430! Here you can create your own library of books with your own personalized descriptions or notes of books that are close to your heart.
          Feel free to visit the Review Forum which has posts from readers like you
          who give honest feedback on books they've read!
        </span>
     
        <a routerLink="new" class="btn btn-primary pull-right">Add book</a>
     
      </div>
    </div>
    <div class="panel-body">
      <div class="center-panel">
        <app-book-item *ngFor="let bookEl of books"
        [book]="bookEl"></app-book-item>
      </div>
    </div>
  
  </div>
