.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.pad-left-right {
  padding-left: 1rem;
  padding-right: 1rem;
}

.lead {
  background-color: gainsboro;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.btn-primary {
  margin-bottom: 20px;
}