<!-- <div class="row">
  <div class="col-xs-12">
    <h3>Name</h3>
    <span>
      <img
        src="../../assets/images/jacksonk.jpg"
        alt=""
        class="img-responsive"
        style="max-height: 50px"
      />
      <button class="btn btn-primary">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </span>
  </div>
</div> -->


  <div class="row">
    <div class="col-xs-12">
      <h3>Name</h3>
      <img
        src="../../assets/images/jacksonk.jpg"
        alt=""
        class="img-responsive"
        style="max-height: 50px"/>
    </div>
  </div>

 

  <div class="row">
    <div class="col-xs-12">
         <button class="btn btn-primary ">Edit</button>
      <button class="btn btn-danger ">Delete</button>
    </div>
  </div>
 <hr>
  <div class="row">
    <div class="col-xs-12">
        <p>Email:</p>
        <p>Phone:</p>
    </div>
   
  </div>



