<div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row pad-left-right">
            <span class="title pull-left">Reviews</span>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <app-review-item *ngFor="let reviewEl of reviews" [review]="reviewEl"></app-review-item>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <app-review-edit (addReviewEvent)="onAddReview($event)"></app-review-edit>
        </div>
      </div>
    </div>
  </div>
