<!-- <div class="panel panel-default">
    <div class="panel-body">
      <form onsubmit="location.reload()" id="document-edit">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="book">Book</label>
            <input
              type="text"
              id="book"
              class="form-control"
              size="120"
              max="120"
              #book
            />
          </div>

          <div class="col-sm-12 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              max="120"
              size="120"
              #name
            />
          </div>
  
          <div class="col-sm-12 form-group">
            <label for="review">Review</label>
            <input
              type="text"
              id="review"
              class="form-control"
              max="120"
              size="120"
              #review
            />
          </div>
          
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" (click)="onSendReview()">Send</button>
            <button class="btn btn-danger" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div> -->



<div class="card forum-post">
  <div class="card-body">
    <form onsubmit="location.reload()" id="document-edit">
      <div class="form-group">
        <label for="book">Book Title: </label>
        <input type="text" id="book" class="form-control" placeholder="The Last Book in the Universe" #book>
      </div>
      <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" id="name" class="form-control" placeholder="Judy B. Jones" #name>
      </div>
      <div class="form-group">
        <label for="review" >Review: </label>
        <textarea charset="UTF-8" id="review" class="form-control" rows="3" placeholder="I wouldn't read this book again even if it was the last book in the universe!" #review></textarea>
      </div>
      <button class="btn btn-primary" type="submit" (click)="onSendReview()">Post</button>
      <button class="btn btn-danger" type="button" (click)="onClear()">Clear</button>
    </form>
  </div>
</div>