  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <img
          src="{{ book?.imageUrl }}"
          alt="{{ book?.name }}"
          class="img-responsive"
          style="max-width: 300px"
        />
          <h4 class="card-title">{{ book?.name }}</h4>
        </div>
        <div class="col-auto">
          <div class="btn-group">
            <a class="btn btn-secondary" (click)="onEditBook()">Edit</a>
            <a class="btn btn-danger" (click)="onDelete()">Delete</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <label>Description: </label>
          <span class="ml-2"> {{ book?.description }}</span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <label>URL: </label>
          <span class="ml-2">{{ book?.imageUrl }}</span>
        </div>
      </div>
    </div>
  </div>
